#total-value-bar{
    display: flex;
    height: 70px;
    margin-bottom: 10px;
    
}
#total-value-bar #value{
    display: flex;
    flex-basis: 15%;
   border: 1px solid #888;
   border-radius: 5px;
   padding: 5px;
   justify-content: center;
   align-content: center;
   
    h3{
        margin-right: 5px;
    }
}
#total-value-bar #add-item{
    display: flex;
    flex-basis: 85%;
    justify-content: flex-end;

    button{
        margin: 0 5px;
        max-height: 50px;
    }
}
table{
    width: 100%;
}
